---
layout: default
section_id: home
slides:
  - bg: images/helloquence-61189_fullhd.jpg
    small_title:
      klass: bottom-to-top
      text: Analyize your data 
    title:
      klass: bottom-to-top
      text: more efficiently
    buttons:
      klass: bottom-to-top
      items:
        - text: Download CogStat
          link_to: download.html
  - bg: images/nick-morrison-325805_fullhd.jpg
    small_title:
      klass: bottom-to-top
      text: Faster data analysis with
    title:
      klass: bottom-to-top
      text: automatic solutions
    buttons:
      klass: bottom-to-top
      items:
        - text: Download CogStat
          link_to: download.html

---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='5000'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="four spacing"></div>

<div class="row">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Automatic hypothesis test selection' desc='No need for manual test selection, CogStat will do the work for you' icon_class='fa fa-sitemap' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Automatic graph creation' desc='Investigate your data on informative charts that CogStat creates for you' icon_class='fa fa-bar-chart' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='APA style output' desc='Copy and paste your results directly to your report' icon_class='fa fa-file-text-o' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Faster data analysis' desc='Work more efficiently with many automated analysis steps' icon_class='fa fa-clock-o' delay='600' shape_class='icon-text-circle' %}
  </div>
</div>
<div class="row">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Available in many languages' desc='Use CogStat in your language' icon_class='fa fa-globe' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Free and open source' desc='CogStat is free of charge' icon_class='fa fa-cloud-download' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Cross platform' desc='Available for Windows, Mac, and Linux' icon_class='fa fa-desktop' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Jupyter Notebook integration' desc='Make your data analysis in Python more efficient' icon_class='fa fa-code' delay='600' shape_class='icon-text-circle' %}
  </div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Start using CogStat</h2>
      <div class='spacing'></div>

      <div class="medium-4 large-4 columns">
          <div class="fadein mod modIconText" data-delay="0">
              <div class="icon-text-circle">
                  <a href="https://github.com/cogstat/cogstat/wiki/Quick-Start-Tutorial"><i class="fa fa-rocket"></i></a>
                  <h3><a href="https://github.com/cogstat/cogstat/wiki/Quick-Start-Tutorial">Quck start tutorial</a></h3>
              </div>
          </div>
      </div>

      <div class="medium-4 large-4 columns">
          <div class="fadein mod modIconText" data-delay="200">
              <div class="icon-text-circle">
                  <a href="download.html"><i class="fa fa-download"></i></a>
                  <h3><a href="download.html">Download CogStat</a></h3>
              </div>
          </div>
      </div>

      <div class="medium-4 large-4 columns">
          <div class="fadein mod modIconText" data-delay="0">
              <div class="icon-text-circle">
                  <a href="https://github.com/cogstat/cogstat/wiki/Documentation-for-users"><i class="fa fa-info"></i></a>
                  <h3><a href="https://github.com/cogstat/cogstat/wiki/Documentation-for-users">Get help</a></h3>
              </div>
          </div>
      </div>

    </div>
    
    <div class='large-12 columns'>
      <div class="four spacing"></div>
      <h2>Get news about CogStat</h2>
      <div class='spacing'></div>

      <div class="medium-4 large-4 columns">
          <div class="fadein mod modIconText" data-delay="400">
              <div class="icon-text-circle">
                  <a href="https://forms.gle/JUx3tHHWdG95zVuW8"><i class="fa fa-envelope"></i></a>
                  <h3><a href="https://forms.gle/JUx3tHHWdG95zVuW8">Get notification on new CogStat releases</a></h3>
              </div>
          </div>
      </div>

      <div class="medium-4 large-4 columns">
          <div class="fadein mod modIconText" data-delay="600">
              <div class="icon-text-circle">
                  <a href="https://fosstodon.org/@cogstat"><i class="fa fa-comments-o"></i></a>
                  <h3><a href="https://fosstodon.org/@cogstat">Follow us on Mastodon</a></h3>
              </div>
          </div>
      </div>

      <div class="medium-4 large-4 columns">
          <div class="fadein mod modIconText" data-delay="800">
              <div class="icon-text-circle">
                  <a href="https://www.facebook.com/cogstat/"><i class="fa fa-facebook"></i></a>
                  <h3><a href="https://www.facebook.com/cogstat/">Follow us on Facebook</a></h3>
              </div>
          </div>
      </div>

      <div class="medium-4 large-4 columns">
          <div class="fadein mod modIconText" data-delay="1000">
              <div class="icon-text-circle">
                  <a href="https://twitter.com/CogStat"><i class="fa fa-twitter"></i></a>
                  <h3><a href="https://twitter.com/CogStat">Follow us on Twitter</a></h3>
              </div>
          </div>
      </div>

    </div>
  </div>
  <div class='four spacing'></div>
</div>
